*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e3a8a,#111827);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
color:#fff;
}

.hero{
width:90%;
max-width:500px;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 0 30px rgba(0,0,0,.4);
}

.hero h1{
font-size:38px;
color:#ffd700;
margin-bottom:20px;
}

.hero p{
margin-bottom:35px;
font-size:18px;
}

.buttons{
display:flex;
gap:15px;
justify-content:center;
}

.btn,.btn2{
text-decoration:none;
padding:14px 28px;
border-radius:10px;
font-size:18px;
transition:.3s;
}

.btn{
background:#ffd700;
color:#000;
font-weight:bold;
}

.btn:hover{
transform:scale(1.05);
}

.btn2{
background:#2563eb;
color:#fff;
}

.btn2:hover{
transform:scale(1.05);
}
input{
width:100%;
padding:14px;
margin:10px 0;
border:none;
border-radius:10px;
font-size:16px;
outline:none;
}

button{
border:none;
cursor:pointer;
font-size:18px;
}